* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  margin: 0;
  border: 0;
}
#todos, #recentes, #classifautores, #videos, #noticiasl, #esportes, #politica, #entr{
  text-align: center;
}
.inicio{
  text-align: justify;
  width: 80vw;
}
main{
  text-align: center;
}
.conteudo{
  margin-bottom: 5%;
  margin-left: 5%;
  width: 80%;
  text-align: justify;
}
.barral {
  font-size: 15px;
  position: sticky;
  float: right;
  top: 5%;
  right: 0;
  height: 95vh;
  width: 15vw;
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
}
.todosartigos {
  display: flex;
  flex-wrap: wrap;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}
#artigo1,
#artigo2,
#artigo3,
#artigo4,
#artigo5,
#artigo6,
#artigo7,
#artigo8,
#artigo9,
#artigo10 {
  font-size: 15px;
  padding: 0.5%;
  width: 33%;
  text-align: initial;
}
